.DS_Store
.vscode
*.pdf
compile_commands.json
compile_flags.txt

# Build artifacts
x64BareBones/Kernel/build/
x64BareBones/Kernel/bin/
*.o
*.bin
*.sys
*.d
*.img
*.vmdk
*.qcow2
.bash_history
.cache
*.elf

#The images
*.img
*.qcow2
*.vmdk
